* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-img {
  width: 100%;
}
main {
  width: 375px;
  height: 100vh;
  background: var(--White, #fff);
}

.updated-content {
  margin: 40px 0;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}
.contents-header {
  color: var(--Dark-Navy, #242742);
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
}
.contents-p {
  color: var(--Dark-Navy, #242742);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 24px auto 0;
}
.offers {
  margin: 24px auto 40px;
}
.list-items {
  display: flex;
  gap: 16px;
}
h3 {
  color: var(--Dark-Navy, #242742);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  color: var(--Dark-Navy, #242742);
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
}
.error-message {
  color: var(--Vermellion, #ff6155);
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
}
.label-error {
  display: flex;
  justify-content: space-between;
}
.submit-btn {
  width: 327px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--grey-25, rgba(25, 24, 43, 0.25));
  background: var(--Dark-Navy, #242742);
  color: var(--White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  margin: 24px 0 40px;
  cursor: pointer;
}
.submit-btn:hover {
  background: var(
    --Gradient-1,
    linear-gradient(204deg, #ff6a3a 0%, #ff527b 100%)
  );
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
}
input {
  width: 327px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--grey-25, rgba(25, 24, 43, 0.25));
  padding-left: 24px;
  margin-top: 8px;
}
input::placeholder {
  color: var(--Dark-Navy, #242742);
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 1440px) {
  body {
    background: var(--Pale-Navy, #36384d);
    height: 100vh;
  }
  main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 928px;
    height: 641px;
    border-radius: 36px;
    background: #fff;
    box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
  }
  .mobile-img {
    order: 1;
    width: 400px;
  }
  .contents-header {
    font-size: 56px;
  }
  .contents-p {
    width: 376px;
  }
  .offers {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  input {
    width: 376px;
  }
  .submit-btn {
    width: 376px;
  }
}
